* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
    color: #000;
}

.container {
    margin: 0 auto;
    padding-top: 2rem;
}

/* Header */

.navigation {
    padding-top: 1.5rem;
}

.navigation li {
    text-decoration: underline;
}

.navigation-section {
    display: flex;
    justify-content: center;
}

.navigation-item {
    margin-right: 3rem;
    padding: .5rem;
}

@media only screen and (max-width: 670px) {
    .navigation-section {
        flex-direction: column;
    }

    .navigation-item {
        margin: 0;
    }
}

@media only screen and (max-width: 400px) {
    .title h1 {
        font-size: 2rem;
    }
}

/* Banner */

.experience {
    background-image: url("../Images/skyscrapers.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    min-width: 100%;
}

.experience-content {
    background-color: #fff;
    min-height: 100px;
    margin: auto;
    min-width: 100%;
    text-align: center;
}

.experience-content h2 {
    padding: 1rem;
}

.experience-content p {
    padding: 1rem;
}

.experience {
    display: flex;
}

@media only screen and (max-width: 530px) {
    .experience-content {
        background-image: url("../Images/skyscrapers.webp");
        color: #fff;
    }

    .experience {
        background: none;
    }
}

/* Portfolio */

.companies img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
}

.companies {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.company {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio-container {
    text-align: center;
}

.portfolio-container h2 {
    padding: 1rem;
}

.portfolio-container p {
    padding: 1rem;
}

.company span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 880px) {
    .company {
        flex-direction: column;
        padding-bottom: 1rem;
    }
}

/* Team */

.teammate img {
    width: 200px;
    height: auto;
}

.team {
    background-image: url("../Images/blurred-road.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    min-width: 100%;
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.teammate h3 {
    color: #fff;
    padding: .5rem;
}

.teammate p {
    color: #fff;
    padding: .5rem;
}

.teammate {
    flex-basis: 17.5rem;
}

@media only screen and (max-width: 870px) {
    .teammate {
        padding-bottom: 1.5rem;
    }
}

/* Contact */

.contact a {
    display: block;
    padding: 1rem;
}

/* Copyright */

.copyright {
    margin-bottom: 2rem;
}

.copyright h5 {
    font-weight: 400;
    font-size: 1rem;
}

@media only screen and (max-width: 590px) {
    .contact a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 430px) {
    .contact a {
        font-size: .7rem;
    }
}



